<p>my-home works!</p>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link" href=" " >Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="my-Story ">My-Story</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="settings">settings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="my-projects">My-Projects</a>
    </li>
  </ul>
  </nav>